PORT=3001
CORS_ORIGINS=https://openbirding.org
EBIRD_API_KEY=
CRON_SECRET=
REPORTS_PASS=
SQLITE_DIR=/data
SQLITE_FILENAME=openbirding.db
SQLITE_BACKUP_DIR=/data/backups
AVICOMMONS_JSON_PATH=../api/data/avicommons-lite.json
OCCURRENCES_MAX_ZONE_RES=4
SYSTEM_ALERTS_NTFY_TOPIC=
RUST_LOG=info
